/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 */

.godmin-material-administration {

  md-toolbar.md-default-theme.md-hue-2:not(.md-menu-toolbar), md-toolbar.md-hue-2:not(.md-menu-toolbar) {
    background-color: $primary-color-hue-1;
    color: $grey-hue-1;
  }

  md-content {
    background: $background-hue-1;
  }
  .md-button.md-primary {
    color: $primary-color-hue-1;
  }
  .md-button.md-raised.md-primary {
    color: $grey-hue-1;
    background-color: $primary-color-hue-1;
    &:hover {
      background-color: $primary-color-hue-2;
    }
  }

  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused label, md-input-container:not(.md-input-invalid).md-input-focused label, md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused md-icon, md-input-container:not(.md-input-invalid).md-input-focused md-icon {
    color: $primary-color-hue-1;
  }
  md-input-container.md-default-theme:not(.md-input-invalid).md-input-focused .md-input, md-input-container:not(.md-input-invalid).md-input-focused .md-input, md-input-container.md-default-theme:not(.md-input-invalid).md-input-resized .md-input, md-input-container:not(.md-input-invalid).md-input-resized .md-input {
    border-color: $primary-color-hue-1;
  }

  md-icon.gmd-primary {
    color: $primary-color-hue-1;
    &.md-avatar-icon {
      background: $primary-color-hue-1;
      color: $white;
    }
  }

  .img-crop {
    overflow: hidden;
    height: 300px;
    width: 100%;
    img {
      width: 100%;
      margin-top: -130px;
    }
  }

  .mw {
    margin-bottom: 1em;
    width: 100%;
  }
  @media screen and (min-width: 1500px) {
    .mw {
      max-width: 1500px;
    }
  }

  .form-errors {
    background: rgb(215, 85, 64);
    color: rgba(255, 255, 255, 0.8);
    padding: 1em;
    md-icon {
      fill: rgba(255, 255, 255, 0.4);
      color: rgba(255, 255, 255, 0.4);
      margin: 8px;
    }
    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  }
  .alert.alert-info {
    width: 70%;
    padding: 1em;
    background: $primary-color-hue-2;
    border: 1px solid $primary-color-hue-5;
    color: $white;
  }

  .navigation {
    md-toolbar {
      @media (min-width:0) and (max-width:959px){
        min-height: 56px !important;
      }
    }
    .md-sidenav-backdrop {
      z-index: 80;
    }
    md-sidenav {
      z-index: 81;
    }
  }

  md-sidenav {
    .brand-logo {
      color: #FFFFFF;
    }
    div {
      ul {
        padding-left: 0;
        margin-top : 0;
        li {
          a {
            width: 100%;
            display: block;
            color: $primary-color-hue-1;
            .md-button {
              margin: 0;
              padding: 1em;
              text-align: left;
              width: 100%;
            }
          }
        }
      }
    }
  }

  md-content {
    background-color: transparent;
  }

  .md-toolbar-tools {
    .md-button {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .has-error {
    .form-control {
      outline: none;
      box-shadow: none;
    }
  }

  .form-control {
    outline: none;
    box-shadow: none;
    &:focus {
      outline: none;
      box-shadow: none;
    }
  }

  input[type='submit'], .filter-btns a {
    &:focus, &:hover, &:active:focus {
      outline: none;
    }
    outline: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-height: 36px;
    min-width: 88px;
    line-height: 36px;
    vertical-align: middle;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-grid-row-align: center;
    align-items: center;
    text-align: center;
    border-radius: 3px;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 0;
    padding: 0 6px;
    margin: 6px 8px;
    background-color: $primary-color-hue-1;
    color: currentColor;
    white-space: nowrap;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
    font-style: inherit;
    font-variant: inherit;
    font-family: inherit;
    text-decoration: none;
    overflow: hidden;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
    color: $background-hue-1;
    -webkit-transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);
    transition: box-shadow .4s cubic-bezier(.25,.8,.25,1),background-color .4s cubic-bezier(.25,.8,.25,1);

    &:hover {
      background-color: $primary-color-hue-2;
    }
  }

  #filters {
    md-input-container {
      margin-bottom: 0;
      margin-top: 40px;
    }
  }

  .pagination-wrapper {
    margin-top: 1em;
    .pagination {
      li {
        margin-right: -8px;
        display: inline-block;
        list-style: none;
        &.active a {
          background: $primary-color-hue-1;
          color: $grey-hue-1;
          text-decoration: none;
        }
        a {
          padding: 1em;
          color: $primary-color-hue-1;
          margin-right: 3px;
          border-radius: 0;
          line-height: 24px;
          text-decoration: none;
          &:hover {
            cursor: pointer;
            background-color: $secondary-color-hue-2;
            color: $grey-hue-1;
          }
        }
      }
      .pagination-icon {
        a {
          line-height: 1.42857143 !important;
          md-icon {
            color: $primary-color-hue-1;
          }
        }
      }
    }
  }

  .md-table {
    .actions {
      text-align: right !important;
      padding-right: 40px !important;
    }
    a {
      color: $primary-color-hue-1;
      text-decoration: none;
      &:hover {
        color: $secondary-color-hue-3;
      }
    }
    .md-body {
      .md-row {
        transition: background 0.25s;
        &:nth-child(odd) {
          background: $grey-hue-3;
        }
        &:hover {
          background: $grey-hue-2;
        }
      }
    }
    .md-table-buttons {
      float: right;
      a {
        display: inline-block;
      }
      .delete-btn {
        md-icon {
          color: $error-color;
        }
      }
    }
  }

  .crud {
    .md-headline {
      text-align: center;
    }
  }

  md-list-item {
    .md-2-line>.md-no-style>md-icon:first-child, .md-2-line>md-icon:first-child {
      -webkit-align-self: center;
      align-self: center;
    }
    .md-list-item-text {
      a {
        font-size: 14px;
      }
    }
  }



  /***************************************************************************
  *                      Custom Materialistic Breadcrumb                     *
  ****************************************************************************/

  /***************************************************************************
  *                   <div class="md">                                       *
  *                     <div class="md-breadcrumb flat">                     *
  *                       <a href="#" class="active">JavaScript</a>          *
  *                       <a href="#">AngularJS</a>                          *
  *                       <a href="#">CoffeeScript</a>                       *
  *                       <a href="#">TypeScript</a>                         *
  *                       <a href="#" class="active">Angular 2</a>           *
  *                     </div>                                               *
  *                   </div>                                                 *
  ****************************************************************************/


  .md {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 638px;
  }
  .md-breadcrumb {
    text-align: center;
    display: inline-block;
    box-shadow: 0 2px 5px rgba(0,0,0,0.25);
    overflow: hidden;
    border-radius: 5px;
    counter-reset: flag;
    height: 36px;
  }
  .md-breadcrumb > a {
    text-decoration: none;
    outline: none;
    display: block;
    float: left;
    font-size: 12px;
    line-height: 36px;
    color: $white;
    padding: 0 10px 0 60px;
    position: relative;
  }
  .md-breadcrumb > a:first-child {
    padding-left: 46px;
    border-radius: 5px 0 0 5px;
  }
  .md-breadcrumb > a:first-child::before {
    left: 14px;
  }
  .md-breadcrumb > a:last-child {
    border-radius: 0 5px 5px 0;
    padding-right: 20px;
  }
  .md-breadcrumb > a:last-child::after {
    content: none;
  }
  .md-breadcrumb > a::before {
    content: counter(flag);
    counter-increment: flag;
    border-radius: 100%;
    width: 20px;
    height: 20px;
    line-height: 20px;
    margin: 8px 0;
    position: absolute;
    top: 0;
    left: 30px;
    font-weight: bold;
  }
  .md-breadcrumb > a::after {
    content: '';
    position: absolute;
    top: 0;
    right: -18px;
    width: 36px;
    height: 36px;
    transform: scale(0.707) rotate(45deg);
    z-index: 1;
    box-shadow: 2px -2px 0 2px $grey-hue-2;
    border-radius: 0 5px 0 50px;
  }
  .flat a,
  .flat a::after {
    background: $white;
    color: $primary-color-hue-1;
    transition: all 0.5s;
  }
  .flat a::before {
    background: $white;
    box-shadow: 0 0 0 1px $primary-color-hue-1;
  }
  .flat a:hover,
  .flat a.active,
  .flat a:hover::after,
  .flat a.active::after {
    background: $primary-color-hue-1;
  }
  .flat a.active:hover {
    background: $primary-color-hue-2;
  }
  .flat a:hover,
  .flat a.active {
    color: $white;
  }
  .flat a:hover::before,
  .flat a.active::before {
    color: $primary-color-hue-1;
  }

}

