<% if errors.present? %>
  <md-card class="form-errors" layout="row" layout-align="space-between center">
    <md-icon>alert-box</md-icon>
    <ul>
      <% errors.full_messages.each do |error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
    <md-icon>alert-box</md-icon>
  </md-card>
<% end %>